nav{
    background:white;
    display: flex;
    gap:1rem;
    padding-left:10vw;
    padding-block: .75rem;
    position: sticky;
    top:0px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:80%;

        .website-container{
            display: flex;
            align-items: center;
            gap:1rem;

            img{
                width:50px;
            }

            .search-container{
                background:$background;
                padding:.75rem;
                width:300px;
                display: flex;
                align-items: center;
                gap:.5rem;
                border-radius: 5px;

                .icon{
                    color:$secondary;
                    cursor:pointer;
                }

                input{
                    flex:1;
                    border:none;
                    outline:none;
                    background:$background;
                }
            }

        }

        .profile-container{
            .avatar-wrapper{
                display: flex;
                img{
                    width:45px;
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
        }

    }

    .placeholder{
        width:20%;
    }
}